@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a {
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  height: 75px;
  background-color: transparent;
}

.header__inner {
  display: flex;
  align-items: center;
  height: inherit;
  padding-left: 22px;
}

.header__name {
  margin-right: auto;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    width: 132px;
  }
}

.header__nav {
  height: inherit;
}

.header__items {
  display: flex;
  align-items: center;
  height: inherit;
}

.header__item {
  height: inherit;
}

.header__item:not(:first-child) {
  margin-left: 60px;
}

.header__link {
  font-size: 16px;
  display: flex;
  font-weight: 500;
  justify-content: center;
  height: inherit;
  align-items: center;
  color: #141414;
}

.header__link.header__link--contact {
  padding: 27px 24px;
  background-color: #b19775;
  color: #fff;
  transition: 0.3s background-color;
}

.header.change-color {
  background-color: #fff;
  transition: 0.3s;
}

.hamburger {
  position: fixed;
  z-index: 9999;
  top: 25px;
  right: 15px;
  width: 25px;
  height: 16px;
  cursor: pointer;
}

.hamburger.is-active {
  top: 25px;
  right: 20px;
}

.hamburger span {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 2px;
  transition: 0.3s transform, 0.3s background-color;
  background-color: #aca28b;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 8px;
  transition: 0.3s opacity;
}

.hamburger span:nth-child(3) {
  top: 16px;
}

.hamburger.is-active span {
  background-color: #fff;
}

.hamburger.is-active span:nth-child(1) {
  top: 13px;
  transform: rotate(-405deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  top: 13px;
  transform: rotate(405deg);
}

.drawer-menu {
  position: absolute;
  z-index: 5000;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(56, 44, 34, 0.4);
}

.drawer-menu__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: inherit;
}

.drawer-menu__items {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.drawer-menu__item {
  display: inline-block;
}

.drawer-menu__item:not(:first-child) {
  margin-top: 50px;
}

.drawer-menu__link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #fff;
  width: 200px;
  text-align: center;
  padding-bottom: 25px;
}

.drawer-menu__link.drawer-menu__link--contact {
  display: block;
  width: 200px;
  margin: auto;
  text-align: center;
  padding: 14px 14px;
  font-weight: 500;
  background-color: #b19775;
  border-radius: 6px;
  color: #fff;
  transition: 0.5s;
}
.drawer-menu__link.drawer-menu__link--contact:hover {
  opacity: 0.7;
}

.mv {
  width: 100%;
  height: 100vh;
}

.mv__inner {
  position: relative;
  width: 100%;
  height: inherit;
}

.mv__slider,
.swiper-slide picture,
.swiper-slide img {
  height: inherit;
}

.swiper-slide img {
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.mv__title-wrap {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  padding-left: 120px;
}
@media screen and (max-width: 768px) {
  .mv__title-wrap {
    padding-left: 34px;
  }
}

.mv__sub-title {
  font-size: 38px;
  font-weight: 500;
  line-height: 1.474;
  letter-spacing: 0.05em;
  color: #141414;
}
@media screen and (max-width: 768px) {
  .mv__sub-title {
    font-size: 28px;
    line-height: 1.429;
    letter-spacing: 0;
  }
}

.mv__sub-text {
  margin-top: 22px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #141414;
}
@media screen and (max-width: 768px) {
  .mv__sub-text {
    font-size: 14px;
  }
}

.concept {
  padding: 140px 0;
}
@media screen and (max-width: 768px) {
  .concept {
    padding: 100px 0;
  }
}

.concept__inner {
  width: 100%;
  margin: 0 120px;
}
@media screen and (max-width: 768px) {
  .concept__inner {
    width: 100%;
    margin-top: 100px;
  }
}

.concept__title {
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .concept__title {
    text-align: left;
  }
}

.concept__items {
  margin-right: 0;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .concept__items {
    margin-right: calc(50% - 50vw);
  }
}

.concept__item {
  margin-top: 40px;
  width: 100%;
  position: relative;
}

.concept__item::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: -15%;
  right: -10%;
  background-color: #f7f3e9;
  width: 280px;
  height: 720px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .concept__item::after {
    width: 50%;
    top: -60%;
    right: 0%;
  }
}

.concept__text {
  display: inline-block;
  margin-top: 32px;
}

.concept__text--large {
  margin-top: 32px;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.727;
  color: #141414;
}
@media screen and (max-width: 768px) {
  .concept__text--large {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.778;
  }
}

.concept__text--s {
  margin-top: 30px;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.876;
  color: #141414;
}
@media screen and (max-width: 768px) {
  .concept__text--s {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.857;
  }
}

.service {
  overflow: hidden;
  padding: 100px 0;
}
@media screen and (max-width: 768px) {
  .service {
    padding: 100px 0 140px;
  }
}

.service__cards {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  -moz-column-gap: 35px;
       column-gap: 35px;
  row-gap: 50px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .service__cards {
    margin-top: 40px;
    padding: 0 13px;
    row-gap: 30px;
  }
}

.service__img {
  aspect-ratio: 3/4;
  border-top-left-radius: 20px;
}

.service__card {
  position: relative;
  width: 320px;
  height: auto;
}
.service__card:hover {
  transition: transform 0.6s ease; /* ゆっくり変化させる */
  transform: scale(1.08);
  transform-origin: center;
}

.service__cards::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 25%;
  left: 50%;
  background-color: #f7f3e9;
  width: 100vw;
  height: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .service__cards::before {
    top: -5%;
    left: -5%;
    width: 100%;
    height: 1760px;
  }
}

.service__body {
  background-color: #fff;
  position: relative;
  padding: 18px 0 46px;
  box-shadow: 3px 3px 8px rgba(20, 20, 20, 0.16);
}

.service__text {
  text-align: center;
}

.service__items {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.service__item {
  font-size: 10px;
  width: 53px;
  padding: 3px 13px;
  letter-spacing: 0.05em;
  background-color: #aca28b;
  color: #fff;
}

.access {
  text-align: center;
  padding-top: 140px;
}

.access__items {
  margin-top: 41px;
}

.access__item:not(:first-child) {
  margin-top: 17px;
}

.access-item {
  display: flex;
  padding-bottom: 16px;
  border-bottom: 1px solid #c8c8c8;
}
@media screen and (max-width: 768px) {
  .access-item {
    flex-wrap: wrap;
  }
}

.access-item__info {
  width: 100px;
  font-size: 15px;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
  .access-item__info {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
  }
}

.access-item__name {
  margin-left: 230px;
  font-size: 15px;
  letter-spacing: 0.05em;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
@media screen and (max-width: 768px) {
  .access-item__name {
    margin: 0;
  }
}

.access-item__info,
.access-info__name {
  color: #141414;
}

.access__title {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.access__text {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #b19775;
}

.map iframe {
  vertical-align: bottom;
  margin-top: 100px;
  width: 100%;
  height: 420px;
}

.contact {
  padding-top: 40px;
  width: 100%;
  height: 463px;
  background-image: url(/images/contact.img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact__title {
  color: #fff;
}

.contact__body {
  text-align: center;
  margin-top: 80px;
}

.contact__copy {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #fff;
}

.btn.contact__btn--clear {
  margin-top: 21px;
  width: 340px;
  height: 78px;
  padding: 26px 29px;
  border: 2px solid #fff;
  border-radius: 8px;
  background-color: transparent;
  position: relative;
  transition: letter-spacing 0.3s ease-in-out;
}

.btn.contact__btn--clear:hover {
  letter-spacing: 0.3em;
}

.btn.contact__btn--clear::before {
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  bottom: 0;
  content: "";
  height: 10px;
  margin: auto;
  position: absolute;
  right: 40px;
  top: 0;
  transform: rotate(45deg);
  width: 10px;
}

.page-top-btn {
  position: fixed;
  z-index: 9000;
  right: 50px;
  bottom: 120px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #141414;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .page-top-btn {
    right: 25px;
    bottom: 90px;
  }
}

.page-top-btn::after {
  position: absolute;
  top: 39%;
  left: 55%;
  width: 10px;
  height: 10px;
  content: "";
  transform: rotate(-45deg) translate(-50%, -50%);
  border-top: 2px solid #141414;
  border-right: 2px solid #141414;
}

.page-top-btn::before {
  position: absolute;
  top: 38%;
  left: 59%;
  width: 10px;
  height: 10px;
  content: "";
  transform: rotate(-93deg) translate(-20%, -50%);
  border-top: 2px solid #141414;
}

.footer {
  background-color: #382c22;
  width: 100%;
  height: 79px;
}

.footer__copyright {
  display: block;
  padding-top: 30px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #fff;
}

.contact-us__inner {
  position: relative;
}

.contact-us__title {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  padding-left: 120px;
}
@media screen and (max-width: 768px) {
  .contact-us__title {
    padding-left: 34px;
  }
}

.section-title.section-title__main--form {
  font-size: 38px;
}

.section-title.section-title__sub--form {
  font-size: 14px;
}

.contact-page {
  padding: 60px 0 80px;
}
@media screen and (max-width: 768px) {
  .contact-page {
    padding: 70px 0 60px;
  }
}

.contact-page__inner {
  width: 100%;
  max-width: 800px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .contact-page__inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.contact-page__title {
  text-align: center;
}

.contact-page__text {
  display: inline-block;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .contact-page__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.875;
  }
}

.form {
  margin-top: 60px;
  width: 100%;
  height: 600px;
  background-color: #f7f3e9;
  border-radius: 20px 0 0 0;
}
@media screen and (max-width: 768px) {
  .form {
    height: 627px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .form__item {
    display: block;
  }
}

.form__item:not(:first-child) {
  margin-top: 20px;
}

.form__list {
  padding: 30px 120px;
}
@media screen and (max-width: 768px) {
  .form__list {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 768px) {
  .form__label {
    text-align: left;
  }
}

.form__labels {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .form__labels {
    width: 100%;
    display: contents;
  }
}

.form__label-text {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  width: 150px;
}
@media screen and (max-width: 768px) {
  .form__label-text {
    display: block;
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: top;
  }
}

.form__label:last-child.form__label-text {
  vertical-align: top;
}

.form__input {
  width: 100vw;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .form__input {
    width: 100%;
  }
}

.form__input-radio {
  display: inline-block; /* form__input-radioを横並びにするためにinline-blockを指定 */
  margin-right: 20px; /* form__input-radioの間にスペースを10px設定 */
  margin-top: 20px;
  vertical-align: middle; /* ラジオボタンを垂直方向に中央揃えするために指定 */
}
@media screen and (max-width: 768px) {
  .form__input-radio {
    width: 50%;
    margin-top: 9px;
  }
}

.form__input-radio-container {
  margin-top: 21px;
}
@media screen and (max-width: 768px) {
  .form__input-radio-container {
    width: 100%;
    margin-top: 0;
  }
}

label {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  margin-left: 13px;
}

label::before,
label::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

label::before {
  background-color: #f7f3e9;
  border: 1px solid #C0AC91;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  left: 20px;
}

label::after {
  background-color: #ddd;
  border-radius: 50%;
  opacity: 0;
  width: 6px;
  height: 6px;
  left: 22px;
}

input:checked + label::after {
  opacity: 1;
}

.form__labels .form__input-label[for=inquiry-type] {
  display: contents; /* "お問い合わせの種類*" に付いているラジオボタンを非表示にする */
}

.form__input-label {
  font-size: 14px;
  font-weight: 300;
  display: inline-block; /* ラベルを横並びにするためにinline-blockを指定 */
  vertical-align: middle; /* ラベルを垂直方向に中央揃えするために指定 */
}
@media screen and (max-width: 768px) {
  .form__input-label {
    margin-top: 9px;
  }
}

.form__input-group::after {
  /* clearfixを追加 */
  content: "";
  display: table;
  clear: both;
}

.form__input-text {
  display: inline-block;
  vertical-align: middle;
  width: 360px;
  height: 40px;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .form__input-text {
    width: 305px;
  }
}

.form__labels-area {
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .form__labels-area {
    width: 100%;
    display: block;
  }
}

.form__label-textareas {
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .form__label-textareas {
    width: 100%;
  }
}

.form__label-textarea {
  width: 150px;
}
@media screen and (max-width: 768px) {
  .form__label-textarea {
    width: auto;
    margin-right: 10px;
    vertical-align: top;
  }
}

.textarea {
  resize: none;
  width: 360px;
  height: 171px;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .textarea {
    width: 305px;
  }
}

.form__btn {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .form__btn {
    margin: 0 auto;
    bottom: 40px;
  }
}

.btn-rounded {
  width: 180px;
  border-radius: 6px;
}

.inner {
  width: 100%;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;
}
@media screen and (max-width: 768px) {
  .inner {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.section-title__main {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.05em;
}

.section-title__sub {
  margin-top: 7px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #b19775;
}

.section-title.section-title--center {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section-title.section-title--center {
    text-align: right;
  }
}

.text {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.867;
  line-height: 0.05em;
}
@media screen and (max-width: 768px) {
  .text {
    font-size: 14px;
  }
}

.text.text--large {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.727;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
  .text.text--large {
    font-size: 18px;
    line-height: 1.778;
  }
}

.btn {
  font-size: 16px;
  width: 200px;
  display: inline-block;
  padding: 15px 15px;
  background-color: #b19775;
  color: #fff;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 768px) {
  .md-none {
    display: none;
  }
}

.md-show {
  display: none;
}
@media screen and (max-width: 768px) {
  .md-show {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */